.form-container {
    max-width: 700px;
}

.navbar {
    border-radius: 0.5rrem;
}

.navbar-brand {
    margin-left: 1rem;
}

.navbar-nav {
    margin-right: 1rem;
}

.modal-backdrop {
    opacity: 0.9 !important;
}

.modal-content {
    background-color: #2A5E74;
    padding:          2rem 2rem;
}