<div class="container py-5">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Admin</a>
            <div class="navbar-nav d-flex">
                <div class="row row-cols-auto">
                    <div class="col">
                        <a class="nav-link" href="/admin/add-entity">Add Entity</a>
                    </div>
                    <div class="col">
                        <a class="nav-link" href="/admin/edit-entity">Edit Entity</a>
                    </div>
                    <div class="col">
                        <a class="nav-link" href="/admin/add-review">Add Review</a>
                    </div>
                    <div class="col">
                        <a class="nav-link" href="/admin/edit-review">Edit Review</a>
                    </div>
                </div>                    
            </div>
        </div>
    </nav>
</div>