<div class="modal fade" id="confirm-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex align-items-center">
            <p class="text-white text-normal text-center fs-5">
                {{ text }}
            </p>

            <div class="row py-3 w-100">
                <div class="col">
                    <button id="confirm-modal-confirm-action" type="button" class="btn btn-primary text-normal w-100" data-bs-dismiss="modal">{{ confirmAction }}</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger text-normal w-100" data-bs-dismiss="modal">{{ cancelAction }}</button>
                </div>
            </div>
        </div>
    </div>
</div>