<div class="entity-card">
    <a class="stealth-link" href="{{ entityUrl }}">
        <div class="card-container">
            <div class="image-container d-flex align-items-center">
                <div class="inner">
                    <img src="{{ featuredImageUrl }}">
                </div>
            </div>
        
            <div class="info-rating-container">
                <div class="info">
                    <div class="name text-bold fs-6">{{ #truncateName }}{{ name }}{{ /truncateName }}</div>
                    <div class="description">{{ #truncateDescription }}{{ description }}{{ /truncateDescription }}</div>
                </div>
                <hr>
                <div class="rating-container d-flex align-items-center">
                    <div class="text-center w-100">
                        <div class="text-bold rating fs-1">{{ #roundRating }}{{ totalRating }}{{ /roundRating }}&nbsp;/&nbsp;5</div>
                        <div class="review-count fs-5">{{ ratingCount }} reviews</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="medal-image-container text-center">
            <img src="{{ medalImageUrl }}">
        </div>
    </a>
</div>