.entity-card {
    --image-height:   232px;
    --medal-y-offset: -2.5rem;
    margin-bottom:    var(--medal-y-offset);
}

.entity-card .card-container {
    background-color: white;
    height:           calc(var(--image-height) * 2.25);
    border-radius:    1rem;
    overflow:         hidden;
}

.entity-card .featured-image {
    object-fit: cover;
    height:     var(--image-height);
}

.entity-card .info {
    padding: var(--card-padding);
    height:  calc(40% - (var(--hr-height) / 2) - 1rem);
}

.entity-card .rating-container {
    height: calc(60% - (var(--hr-height) / 2) - 3.5rem);
}

.entity-card .description {
    display: none;
}

.entity-card .rating {
    margin-top: -0.75rem;
}

.entity-card .review-count {
    margin-top: -0.5rem;
}

.entity-card .name {
    margin-bottom: 0.5rem;
}

.entity-card .info-rating-container {
    height: calc(100% - var(--image-height));
}

.entity-card hr {
    margin-left:  35%;
    margin-right: 35%;
}

.entity-card .medal-image-container {
    transform: translateY(var(--medal-y-offset));
}

.entity-card .medal-image-container img {
    width: 7rem;
}

@media(min-width: 767px) {
}

@media(min-width: 992px) {
    .entity-card .card-container {
        height: calc(var(--image-height) + 392px);
    }

    .entity-card .info {
        height: calc(55% - (var(--hr-height) / 2) - 1rem);
    }
    
    .entity-card .rating-container {
        height: calc(45% - (var(--hr-height) / 2) - 3.5rem);
    }

    .entity-card .description {
        display: block;
    }
}

@media(min-width: 1200px) {
}