.entity-row {
    background-color: white;
    border-radius:    0.5rem;
}

.entity-row .rank {
    flex:  0 0 auto;
    width: calc(var(--column-width) + var(--bs-gutter-x));
}

.entity-row .project {
    flex:  0 0 auto;
    width: calc(var(--column-width) + var(--bs-gutter-x));
}

.entity-row .rating {
    flex:  0 0 auto;
    width: calc((var(--column-width) * 1.5) + var(--bs-gutter-x));
}

.entity-row .image-container {
    height:        var(--column-width);
    width:         var(--column-width);
    border-radius: 0.5rem;
}

.entity-row .rank span {
    transform: translateX(0.3rem);
}

.entity-row .name span {
    padding: 0 1rem;
}

.entity-row .rating-container {
    padding-right: 1rem;
}

.entity-row .review-count {
    margin-top: -0.5em
}

.entity-row .vl {
    margin-top:    1rem;
    margin-bottom: 1rem;
    flex:          0 0 auto;
    border:        3px solid var(--light-grey-colour);
    width:         0;
    padding-left:  0;
    padding-right: 0;
    border-radius: 1rem;
}

@media(min-width: 767px) {
}

@media(min-width: 992px) {
    .entity-row .rating {
        width: calc((var(--column-width) * 2) + var(--bs-gutter-x));
    }
}

@media(min-width: 1200px) {
}