<div class="container">
    <header class="d-flex py-5">
        <div class="row w-100 align-items-center">
            <div class="col text-bold text-white">IsItLegit?</div>
            <div class="col-md-auto row text-bold text-white">
                <div class="col text-center"><a href="#">Home</a></div>
                <div class="col text-center"><a href="#">About</a></div>
                <div class="col text-center"><a href="#">Roadmap</a></div>
            </div>
            <div class="col text-end">
                <a href="#"><button type="button" class="btn btn-primary text-bold"><small>Connect Wallet</small></button></a>
            </div>
        </div>
    </header>
</div>