<header id="mobile-header" class="container py-5">
    <div class="row">
        <div class="col d-flex justify-content-start align-items-center text-bold text-white"><a href="/"><img class="header-logo" src="/asset/header_logo.svg"></a></div>
        <div class="col col-auto d-flex justify-content-end align-items-center">
            <a href="#" class="d-flex align-items-center"><img src="/asset/search_white.svg"></a>
        </div>
        <div class="col col-auto d-flex justify-content-end align-items-center">
            <a href="#" class="d-flex align-items-center"><img src="/asset/hamburger.svg"></a>
        </div>
    </div>
</header>