<div class="nft-project-review-row my-3 my-md-4">
    <div class="card">
        <div class="mobile">
            <div class="text-bold fs-7">{{ userAddress }}</div>
            <div class="text-grey fs-8 my-1">{{ date }}</div>
            <div class="fs-8 my-2">{{ comment }}</div>
            <div class="text-bold fs-2 rating">{{ rating }}&nbsp;/&nbsp;5</div>
        </div>
        <div class="desktop">
            <div class="row">
                <div class="col">
                    <div class="text-bold fs-7">{{ userAddress }}</div>
                    <div class="text-grey fs-8 my-1">{{ date }}</div>
                    <div class="fs-8">{{ comment }}</div>
                </div>
                <div class="col col-rating col-auto d-flex align-items-center justify-content-end">
                    <div class="rating-container text-end">
                        <div class="text-bold fs-2 rating">{{ totalRating }}&nbsp;/&nbsp;5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>