<div class="container nft-project-banner">
    <div class="card-container">
        <div class="image-container d-flex align-items-center">
            <div class="inner">
                <img src="{{ featuredImageUrl }}">
            </div>
        </div>
        <div class="bottom-half container">
            <div class="row">
                <div class="col logo-column">
                    <div class="image-container d-flex align-items-center">
                        <div class="inner">
                            <img src="{{ logoImageUrl }}">
                        </div>
                    </div>
                </div>
                <div class="col info-column">
                    <div class="row">
                        <div class="col">
                            {{ name }}
                        </div>
                        <div class="col">
                            Socials
                        </div>
                    </div>
                    <div>
                        {{ description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>