<div class="container nft-project-review-form">
    <div class="rounded-border">
        <div class="connected"> <!-- Fucking d-flex adds 'display: flex !important;'-->
            <div class="overlay d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="text-bold text-white fs-5 please-connect">Please connect MetaMask to leave a review</div>
                    <button type="button" class="btn btn-primary text-bold" onclick="connect()"><small>Connect MetaMask</small></button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="mobile">
                <div class="text-bold fs-7">Personal <span class="text-red">*</span></div>
                <div class="row my-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-1" value="1">
                            <label class="form-check-label" for="nft-rating-1">1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-2" value="2">
                            <label class="form-check-label" for="nft-rating-2">2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-3" value="3">
                            <label class="form-check-label" for="nft-rating-3">3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-4" value="4">
                            <label class="form-check-label" for="nft-rating-4">4</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-5" value="5">
                            <label class="form-check-label" for="nft-rating-5">5</label>
                        </div>
                    </div>
                </div>
                <div class="text-bold fs-7">Community</div>
                <div class="row my-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-1" value="1">
                            <label class="form-check-label" for="nft-community-rating-1">1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-2" value="2">
                            <label class="form-check-label" for="nft-community-rating-2">2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-3" value="3">
                            <label class="form-check-label" for="nft-community-rating-3">3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-4" value="4">
                            <label class="form-check-label" for="nft-community-rating-4">4</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-5" value="5">
                            <label class="form-check-label" for="nft-community-rating-5">5</label>
                        </div>
                    </div>
                </div>
                <div class="text-bold fs-7">Originality</div>
                <div class="row my-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-1" value="1">
                            <label class="form-check-label" for="nft-originality-rating-1">1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-2" value="2">
                            <label class="form-check-label" for="nft-originality-rating-2">2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-3" value="3">
                            <label class="form-check-label" for="nft-originality-rating-3">3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-4" value="4">
                            <label class="form-check-label" for="nft-originality-rating-4">4</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-5" value="5">
                            <label class="form-check-label" for="nft-originality-rating-5">5</label>
                        </div>
                    </div>
                </div>
                <div class="text-bold fs-7">Communication</div>
                <div class="row my-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-1" value="1">
                            <label class="form-check-label" for="nft-communication-rating-1">1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-2" value="2">
                            <label class="form-check-label" for="nft-communication-rating-2">2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-3" value="3">
                            <label class="form-check-label" for="nft-communication-rating-3">3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-4" value="4">
                            <label class="form-check-label" for="nft-communication-rating-4">4</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-5" value="5">
                            <label class="form-check-label" for="nft-communication-rating-5">5</label>
                        </div>
                    </div>
                </div>
                <div class="text-bold fs-7">Consistency</div>
                <div class="row my-2">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-1" value="1">
                            <label class="form-check-label" for="nft-consistency-rating-1">1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-2" value="2">
                            <label class="form-check-label" for="nft-consistency-rating-2">2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-3" value="3">
                            <label class="form-check-label" for="nft-consistency-rating-3">3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-consistency-rating-4" value="4">
                            <label class="form-check-label" for="nft-consistency-rating-4">4</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-consistency-rating-5" value="5">
                            <label class="form-check-label" for="nft-consistency-rating-5">5</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="nft-comment" class="form-label text-bold fs-7">Comments</label>
                    <textarea class="form-control" id="nft-comment" rows="4" placeholder="Leave your comment here"></textarea>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col col-auto">
                        <button type="button" class="btn btn-primary text-bold"><small>Leave a Review</small></button>
                    </div>
                </div>
            </div>
            <div class="desktop">
                <div class="row">
                    <div class="col col-auto">
                        <div class="row row-header">
                            <div class="col col-label"></div>
                            <div class="col text-center">1</div>
                            <div class="col text-center">2</div>
                            <div class="col text-center">3</div>
                            <div class="col text-center">4</div>
                            <div class="col text-center">5</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label text-bold fs-7">
                                Personal <span class="text-red">*</span>                       
                            </div>
                            <div class="col">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-1" value="1">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-2" value="2">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-3" value="3">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-4" value="4">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-rating" id="nft-rating-5" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label text-bold fs-7">
                                Community                        
                            </div>
                            <div class="col">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-1" value="1">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-2" value="2">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-3" value="3">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-4" value="4">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-community-rating" id="nft-community-rating-5" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label text-bold fs-7">
                                Originality                        
                            </div>
                            <div class="col">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-1" value="1">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-2" value="2">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-3" value="3">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-4" value="4">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-originality-rating" id="nft-originality-rating-5" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label text-bold fs-7">
                                Communication                        
                            </div>
                            <div class="col">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-1" value="1">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-2" value="2">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-3" value="3">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-4" value="4">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-communication-rating" id="nft-communication-rating-5" value="5">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label text-bold fs-7">
                                Consistency                        
                            </div>
                            <div class="col">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-1" value="1">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-2" value="2">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-3" value="3">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-4" value="4">
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="form-check d-flex justify-content-center">
                                    <input class="form-check-input" type="radio" name="nft-consistency-rating" id="nft-consistency-rating-5" value="5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-comment">
                        <div class="mb-3">
                            <label for="nft-comment" class="form-label text-bold fs-7">Comments</label>
                            <textarea class="form-control" id="nft-comment" rows="5" placeholder="Leave your comment here"></textarea>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col col-auto">
                                <button type="button" class="btn btn-primary text-bold"><small>Leave a Review</small></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>