<div class="container nft-project-review-form">
    <div class="rounded-border">
        <div class="connected"> <!-- Fucking d-flex adds 'display: flex !important;'-->
            <div class="overlay d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="text-bold text-white fs-5 please-connect">Please connect MetaMask to leave a review</div>
                    <button type="button" class="btn btn-primary text-bold" onclick="connect()"><small>Connect MetaMask</small></button>
                </div>
            </div>
        </div>
        <div id="submit-spinner" style="display: none;"> <!-- Fucking d-flex adds 'display: flex !important;'-->
            <div class="overlay d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <div class="loading-spinner spinner-border text-cyan" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <form onsubmit="addReview(event)">
                <div class="row">
                    <div class="col col-12 col-lg-auto">
                        <div class="row">
                            <div class="col col-label col-12 col-md-0 d-flex align-items-center">
                                <span class="fs-7 label text-bold">Personal&nbsp;<span class="text-red">*</span></span>&nbsp;
                                <img class="desktop rating-tip" src="/asset/question_mark_circle.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Your personal or overall rating of the project based on whatever criteria you like."
                                >     
                            </div>
                            <div class="mobile col-12 mb-2">
                                <small>Your personal or overall rating of the project based on whatever criteria you like.</small>     
                            </div>     
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="rating" id="rating-1" value="1" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="rating" id="rating-2" value="2" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="rating" id="rating-3" value="3" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="rating" id="rating-4" value="4" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="rating" id="rating-5" value="5" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label col-12 col-md-0 text-bold fs-7 d-flex align-items-center">
                                <span class="fs-7 label text-bold">Community</span>&nbsp;
                                <img class="desktop rating-tip" src="/asset/question_mark_circle.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="(Optional) Do people have good quality, engaging discussions on Twitter and Discord? How helpful is the community? Do you think there are a lot of fake Discord members and/or Twitter followers?"
                                >                                       
                            </div>
                            <div class="mobile col-12 mb-2">
                                <small>(Optional) Do people have good quality, engaging discussions on Twitter and Discord? How helpful is the community? Do you think there are a lot of fake Discord members and/or Twitter followers?</small>     
                            </div> 
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="community-rating" id="community-rating-1" value="1" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="community-rating" id="community-rating-2" value="2" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="community-rating" id="community-rating-3" value="3" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="community-rating" id="community-rating-4" value="4" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="community-rating" id="community-rating-5" value="5" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label col-12 col-md-0 text-bold fs-7 d-flex align-items-center">
                                <span class="fs-7 label text-bold">Originality</span>&nbsp;
                                <img class="desktop rating-tip" src="/asset/question_mark_circle.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="(Optional) How original is the artwork? Does the project offer something unique to NFT holders? How many aspects of the project have been copied from another more popular NFT project?"
                                >      
                            </div>
                            <div class="mobile col-12 mb-2">
                                <small>(Optional) How original is the artwork? Does the project offer something unique to NFT holders? How many aspects of the project have been copied from another more popular NFT project?</small>     
                            </div> 
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="originality-rating" id="originality-rating-1" value="1" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="originality-rating" id="originality-rating-2" value="2" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="originality-rating" id="originality-rating-3" value="3" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="originality-rating" id="originality-rating-4" value="4" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="originality-rating" id="originality-rating-5" value="5" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label col-12 col-md-0 text-bold fs-7 d-flex align-items-center">
                                <span class="fs-7 label text-bold">Communication</span>&nbsp;
                                <img class="desktop rating-tip" src="/asset/question_mark_circle.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="(Optional) Do the creators engage in quality discussions? Are they good at communicating project updates? Do the creators communicate frequently?">                             
                            </div>
                            <div class="mobile col-12 mb-2">
                                <small>(Optional) Do the creators engage in quality discussions? Are they good at communicating project updates? Do the creators communicate frequently?</small>     
                            </div> 
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="communication-rating" id="communication-rating-1" value="1" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="communication-rating" id="communication-rating-2" value="2" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="communication-rating" id="communication-rating-3" value="3" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="communication-rating" id="communication-rating-4" value="4" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="communication-rating" id="communication-rating-5" value="5" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col col-label col-12 col-md-0 text-bold fs-7 d-flex align-items-center">
                                <span class="fs-7 label text-bold">Consistency</span>&nbsp;
                                <img class="desktop rating-tip" src="/asset/question_mark_circle.svg" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="(Optional) Are the creators consistent in delivering work? Have roadmap milestones been met? Has the quality of the creator's work increased, decreased or stayed the same?">                          
                            </div>
                            <div class="mobile col-12 mb-2">
                                <small>(Optional) Are the creators consistent in delivering work? Have roadmap milestones been met? Has the quality of the creator's work increased, decreased or stayed the same?</small>     
                            </div> 
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="consistency-rating" id="consistency-rating-1" value="1" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="consistency-rating" id="consistency-rating-2" value="2" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="consistency-rating" id="consistency-rating-3" value="3" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="consistency-rating" id="consistency-rating-4" value="4" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                            <div class="col col-radio">
                                <div class="form-check">
                                    <input class="form-check-input svg-grey" type="radio" name="consistency-rating" id="consistency-rating-5" value="5" onclick="onRadioClick(event)" onmouseover="onRadioMouseOver(event)" onmouseleave="onRadioMouseLeave(event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-comment">
                        <div class="mb-3 mt-3 mt-lg-0">
                            <label for="comment" class="form-label text-bold fs-7">Comments</label>
                            <textarea class="form-control" id="comment" rows="4" placeholder="Leave your comment here"></textarea>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col col-auto">
                                <button id="review-form-submit-btn" type="submit" class="btn btn-primary text-bold"><small>Leave a Review</small></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>