<div class="container nft-project-rating">
    <div class="row d-flex align-items-center">
        <div class="col col-auto">
            <div class="rating-container text-white">
                <div class="text-bold fs-1">{{ #roundRating }}{{ rating }}{{ /roundRating }}&nbsp;/&nbsp;5</div>
                <div class="review-count fs-6">{{ reviewCount }} reviews</div>
            </div>
        </div>
        <div class="col">
            <div class="pseudo-row d-flex align-items-center w-100">
                <div class="progress w-100">
                    <div class="progress-bar {{ #ratingToColour }}{{ originalityRating }}{{ /ratingToColour }}" style="width: {{ originalityPercentage }}%" aria-valuenow="{{ originalityPercentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="pseudo-row d-flex align-items-center w-100">
                <div class="progress w-100">
                    <div class="progress-bar {{ #ratingToColour }}{{ communityRating }}{{ /ratingToColour }}" style="width: {{ communityPercentage }}%" aria-valuenow="{{ communityPercentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="pseudo-row d-flex align-items-center w-100">
                <div class="progress w-100">
                    <div class="progress-bar {{ #ratingToColour }}{{ communicationRating }}{{ /ratingToColour }}" style="width: {{ communicationPercentage }}%" aria-valuenow="{{ communicationPercentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="col breakdown-rating-column col-auto text-white text-bold">
            <div class="pseudo-row d-flex align-items-center">{{ #roundRating }}{{ originalityRating }}{{ /roundRating }}</div>
            <div class="pseudo-row d-flex align-items-center">{{ #roundRating }}{{ communityRating }}{{ /roundRating }}</div>
            <div class="pseudo-row d-flex align-items-center">{{ #roundRating }}{{ communicationRating }}{{ /roundRating }}</div>
        </div>
        <div class="col col-auto text-purple text-bold">
            <div class="breakdown-rating-label-container">
                <div class="pseudo-row d-flex align-items-center">Originality</div>
                <div class="pseudo-row d-flex align-items-center">Community</div>
                <div class="pseudo-row d-flex align-items-center">Communication</div>
            </div>
        </div>
    </div>
</div>