.nft-project-review-form {
    position: relative;
}

.nft-project-review-form .rounded-border {
    border-radius:      1rem;
    position:           relative;
    overflow:           hidden;
    background:         white;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.nft-project-review-form .overlay {
    position:         absolute;
    width:            100%;
    height:           100%;
    background-color: rgb(23, 23, 23, 0.9);
    z-index:          2000;
}

.nft-project-review-form .please-connect {
    padding-bottom: 1.5rem;
}

.nft-project-review-form .content {
    padding: var(--card-padding);
}

.nft-project-review-form .col-label {
    flex:  0 0 auto;
    width: 8.5rem;
}

@media(min-width: 767px) {
    .nft-project-review-form .col-comment {
        padding-left: 2rem;
    }

    .nft-project-review-form .col-label {
        width: 10rem;
    }
}

@media(min-width: 992px) {
}

@media(min-width: 1200px) {
}