.nft-project-banner {
    --logo-size:           125px;
    --column-padding:      calc(var(--card-padding) * 1.5);
    --web-link-icon-width: 28px;
}

.nft-project-banner .card-container {
    background:    white;
    border-radius: 1rem;
    overflow:      hidden;
}

.nft-project-banner .logo-column {
    padding: var(--column-padding);
    flex:    0 0 auto;
    width:   calc(var(--logo-size) + (var(--column-padding) * 2));
}

.nft-project-banner .logo-column .image-container {
    width:         var(--logo-size);
    height:        var(--logo-size);
    border-radius: 1rem;
    transform:     translateY(calc(-0.5 * (var(--logo-size) + (var(--card-padding) * 2))));
}

.nft-project-banner .info-column {
    padding: var(--column-padding) var(--column-padding) var(--column-padding) 0;
}

.nft-project-banner .info-column .info-row {
    margin-right: 0;
}

.nft-project-banner .info-column .description {
    margin-top: 1em;
}

.nft-project-banner .info-column .web-link {
    flex:        0 0 auto;
    padding:     0;
    margin-left: 1.5rem;
    width:       var(--web-link-icon-width);
}

.nft-project-banner .info-column .web-link img {
    width: var(--web-link-icon-width);
}

.nft-project-banner .banner-image {
    max-height: 350px;
}