.nft-project-banner {
    --logo-size:           125px;
    --column-padding:      calc(var(--card-padding) * 1.5);
    --web-link-icon-width: 28px;
    --logo-offset:         calc((-0.45 * var(--logo-size)) - var(--card-padding));
}

.nft-project-banner .card-container {
    background:    white;
    border-radius: 1rem;
    overflow:      hidden;
}

.nft-project-banner .logo-column {
    padding: var(--column-padding);
    flex:    0 0 auto;
    width:   calc(var(--logo-size) + (var(--column-padding) * 2));
}

.nft-project-banner .logo-column .image-container {
    width:         var(--logo-size);
    height:        var(--logo-size);
    border-radius: 1rem;
    transform:     translateY(calc(-0.5 * (var(--logo-size) + (var(--card-padding) * 2))));
}

.nft-project-banner .info-column {
    padding: var(--column-padding) var(--column-padding) var(--column-padding) 0;
}

.nft-project-banner .info-column .info-row {
    margin-right: 0;
}

.nft-project-banner .info-column .description {
    margin-top: 1em;
}

.nft-project-banner .desktop .web-link {
    flex:        0 0 auto;
    padding:     0;
    margin-left: 1.5rem;
    width:       var(--web-link-icon-width);
}

.nft-project-banner .info-column .web-link img {
    width: var(--web-link-icon-width);
}

.nft-project-banner .banner-image-container {
    max-height:       350px;
    min-height:       calc(var(--logo-size) * 0.5);
    background-color: var(--dark-grey-colour);
}

.nft-project-banner .banner-image-container img {
    object-fit: cover;
}

.nft-project-banner .mobile .web-link {
    margin: 0 0.5em;
}

.nft-project-banner .bottom-half .mobile .image-container {
    width:         var(--logo-size);
    height:        var(--logo-size);
    border-radius: 1rem;
    transform:     translateY(var(--logo-offset));
    margin-bottom: var(--logo-offset);
}

.nft-project-banner .bottom-half {
    padding: var(--card-padding);
}

@media(min-width: 767px) {
    .nft-project-banner .banner-image-container {
        height: 200px;
    }

    .nft-project-banner .bottom-half {
        padding: 0 var(--bs-gutter-x,.75rem);
    }
}