<div class="search-row container my-3 my-md-4">
    <a class="stealth-link" href="{{ entityUrl }}">
        <div class="row py-3">
            <div class="col project d-flex align-items-center">
                <div class="image-container d-flex align-items-center">
                    <div class="inner">
                        <img src="{{ logoImageUrl }}=h70">
                    </div>
                </div>
            </div>
            <div class="col name d-flex align-items-center fs-8 text-bold"><span>{{ #truncateName }}{{ name }}{{ /truncateName }}</span></div>
        </div>
    </a>
</div>