#search-project::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#search-project {
    border: 0;
}

#search-project:focus {
    outline: none;
}

.search-container {
    padding:       0.8rem 1.2rem;
    border-radius: 2rem;
    border:        0;
}

.search-icon {
    height: 1.2rem
}