<div class="container">
    <div class="row w-100 align-items-center">
        <div id="title-search-title" class="col-7 text-bold text-white fs-1"></div>
        <div class="col">
            <div class="col form-control search-container">
                <div class="row">
                    <div class="col bg-transparent">
                        <input class="w-100 text-normal" list="search-data-list-options" id="search-project" placeholder="Search..." onchange="searchProject(event)">
                    </div>
                    <div class="col-auto bg-transparent">
                        <img class="search-icon" src="/asset/search.svg">
                    </div>
                </div>
            </div>
            <datalist id="search-data-list-options">
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
                <option value="Fluffy Mansion Friends"></option>
            </datalist>
        </div>
    </div>
</div>