<div class="container title">
    <div class="row">
        <div class="title-title col-7 text-bold text-white fs-1"></div>
        <div class="col">
            <form onsubmit="searchEntities(event)">
                <div class="col form-control search-container">
                    <div class="row">
                        <div class="col bg-transparent">
                            <input class="w-100 search-entities" placeholder="Search...">
                        </div>
                        <div class="col-auto bg-transparent">
                            <button type="submit" class="stealth-button"><img class="search-icon svg-nearly-black" src="/asset/search_icon.svg"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>