@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_regular.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_bold.woff') format('woff');
    font-weight: bold;
    font-style:  normal;
}

a {
    color:                     white;
    text-decoration-color:     #59B1C4;
    text-decoration-thickness: 0.1em;
    text-underline-offset:     3px;
}

a:hover {
    color:                 #59B1C4;
    text-decoration-color: #397394;
}

body {
    background-color: #232323;
}

header {
    background-color: #232323;
}

.logo {
    width: 30px;
}

.text-normal {
    font-family: 'proximanova';
}

.text-bold {
    font-family: 'proximanova';
    font-weight: bold;
}

.fs-5-5 {
    font-size: 1.1rem;
}

.title {
    text-align: center;
    font-size:  calc(2rem + 1.4vw);
}

hr {
    color:  #9D8F8F;
    width:  80%;
    margin: 4vw auto;
}

.header-icons {
    justify-content: center;
}

.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

.py-3-desktop {
    padding-top:    0;
    padding-bottom: 0;
}

@media(min-width: 767px) {
    .header-icons {
        justify-content: end;
    }
}

@media(min-width: 992px) {
    hr {
        margin: 50px auto;
    }

    .title {
        font-size: 3rem;
    }
}

@media(min-width: 1200px) {
    .desktop-only {
        display: flex;
    }

    .mobile-only {
        display: none;
    }

    .py-3-desktop {
        padding-top:    1rem;
        padding-bottom: 1rem;
    }
}