@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_regular.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_medium.woff') format('woff');
    font-weight: medium;
    font-style:  normal;
}

@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_bold.woff') format('woff');
    font-weight: bold;
    font-style:  normal;
}

/* ------ Colours ------ */
:root {
    --purple-colour:      #8C72FF;
    --matte-black-colour: #232323;
    --cyan-colour:        #6CD3FF;
    --light-grey-colour:  #E6E6E6;
    --hr-height:          0.3rem;
    --card-padding:       1.5rem;
}
/* ------ Colours ------ */

body {
    background-color: var(--matte-black-colour);
}

.text-normal {
    font-family: 'proximanova';
}

.text-medium {
    font-family: 'proximanova';
    font-weight: medium;
}

.text-bold {
    font-family: 'proximanova';
    font-weight: bold;
}

.text-cyan {
    color: var(--cyan-colour);
}

.fs-6 {
    font-size: 1.1rem !important;
}

.fs-7 {
    font-size: 1.05rem;
}

hr {
    opacity: 1;
}

/* ------ Stealth Links ------ */

.stealth-link {
    color:           black;
    text-decoration: none;
}

.stealth-link:hover {
    color: black;
}

/* ------ Stealth Links ------ */

/* ------ Image Container (Horizontally Centered) ------ */
.image-container {
    overflow: hidden;
}

.image-container img {
    position: relative;
    left:     -50%;
}

.image-container .inner {
    display:  inline-block;
    position: relative;
    right:    -50%;
    
}
/* ------ Image Containers (Horizontally Centered) ------ */

/* ------ Header ------ */
header a {
    color:           white;
    text-decoration: none;
}

header a:hover {
    color: var(--purple-colour);
}

header a.active {
    color: var(--cyan-colour);
}

header .btn-primary {
    background-color: var(--purple-colour) !important;
    border:           none !important;
    border-radius:    2rem;
}

header .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #458A99 !important;
    box-shadow:       none !important;
}
/* ------ Header ------ */

.loading-spinner {
    height: 3rem;
    width:  3rem;
    border-width: 0.5rem;
}

@media(min-width: 767px) {
}

@media(min-width: 992px) {
}

@media(min-width: 1200px) {
}