@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_regular.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_medium.woff') format('woff');
    font-weight: medium;
    font-style:  normal;
}

@font-face {
    font-family: 'proximanova';
    src:         url('/asset/proxima_nova_bold.woff') format('woff');
    font-weight: bold;
    font-style:  normal;
}

:root {
    --purple-colour:          #8C72FF;
    --matte-black-colour:     #232323;
    --light-cyan-colour:      #90E0EF;
    --cyan-colour:            #6CD3FF;
    --dark-grey-colour:       #737373;
    --grey-colour:            #A7A4AF;
    --light-grey-colour:      #E6E6E6;
    --very-light-grey-colour: #F8FAFC;
    --green-colour:           #39AEA9;
    --light-green-colour:     #A2D5AB;
    --red-colour:             #C85C5C;
    --orange-colour:          #F9975D;
    --yellow-colour:          #FBD148;
    --hr-height:              0.3rem;
    --card-padding:           1.5rem;
}

body {
    background-color: var(--matte-black-colour);
}

.text-normal {
    font-family: 'proximanova';
}

.text-medium {
    font-family: 'proximanova';
    font-weight: medium;
}

.text-bold {
    font-family: 'proximanova';
    font-weight: bold;
}

.text-cyan {
    color: var(--cyan-colour);
}

.text-purple {
    color: var(--purple-colour);
}

.text-red {
    color: var(--red-colour);
}

.text-grey {
    color: var(--grey-colour);
}

.fs-6 {
    font-size: 1.1rem;
}

.fs-7 {
    font-size: 1.05rem;
}

.fs-8 {
    font-size: 0.9rem;
}

.fs-9 {
    font-size: 0.8rem;
}

hr {
    opacity: 1;
}

/* ------ SVG Recolouring ------ */
/* https://codepen.io/sosuke/pen/Pjoqqp */
.svg-white {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(163deg) brightness(103%) contrast(101%);
}

.svg-nearly-black {
    filter: invert(8%) sepia(9%) saturate(537%) hue-rotate(201deg) brightness(94%) contrast(92%);
}

.svg-cyan {
    filter: invert(86%) sepia(16%) saturate(6073%) hue-rotate(170deg) brightness(101%) contrast(103%);
}
/* ------ SVG Recolouring ------ */

/* ------ Stealth Links/Buttons ------ */
.stealth-link {
    color:           inherit;
    text-decoration: none;
}

.stealth-link:hover {
    color: inherit;
}

.stealth-button {
    background: none;
	color:      inherit;
	border:     none;
	padding:    0;
	font:       inherit;
	cursor:     pointer;
	outline:    inherit;
}
/* ------ Stealth Links/Buttons ------ */

/* ------ Image Container (Horizontally Centered) ------ */
.image-container {
    overflow: hidden;
}

.image-container img {
    position: relative;
    left:     -50%;
}

.image-container .inner {
    display:  inline-block;
    position: relative;
    right:    -50%;
    
}
/* ------ Image Containers (Horizontally Centered) ------ */

/* ------ Buttons ------ */
.btn-primary {
    background-color: var(--purple-colour) !important;
    border:           none !important;
    border-radius:    2rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #458A99 !important;
    box-shadow:       none !important;
}

.btn-secondary {
    background-color: white !important;
    border:           none !important;
    border-radius:    2rem;
    color:            var(--purple-colour);
}

.btn-secondary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #458A99 !important;
    box-shadow:       none !important;
}
/* ------ Buttons ------ */

/* ------ Textarea ------ */
:root textarea, :root textarea:focus { /* Why do you need :root here? */
    background-color: var(--very-light-grey-colour);
    border:           none;
    box-shadow:       none !important;
    padding:          1em;
}
/* ------ Textarea ------ */

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.loading-spinner {
    height: 3rem;
    width:  3rem;
    border-width: 0.5rem;
}

.third-width {
    max-width: calc(100% / 3); /* 100% of the width divided evenly by 3 elements */
}

@media(min-width: 767px) {
    .mobile {
        display: none;
    }
    
    .desktop {
        display: block;
    }

    .fs-md-6 {
        font-size: 1.1rem !important;
    }

    .fs-md-7 {
        font-size: 1.05rem !important;
    }

    .fs-md-n {
        font-size: 1rem !important;
    }
}

@media(min-width: 992px) {
}

@media(min-width: 1200px) {
}