.infinite-entity-row {
    --column-width: 90px;
}

.infinite-entity-row .rank {
    flex:  0 0 auto;
    width: calc(var(--column-width) + var(--bs-gutter-x));
}

.infinite-entity-row .project {
    flex:  0 0 auto;
    width: calc(var(--column-width) + var(--bs-gutter-x));
}

.infinite-entity-row .rating {
    flex:  0 0 auto;
    width: calc((var(--column-width) * 2) + var(--bs-gutter-x));
}

@media(min-width: 767px) {
}

@media(min-width: 992px) {
}

@media(min-width: 1200px) {
}