:root {
    --column-width: 90px;
}

.infinite-entity-row-header .rank {
    flex:  0 0 auto;
    width: calc(var(--column-width) + var(--bs-gutter-x));
}

.infinite-entity-row-header .project {
    flex:  0 0 auto;
    width: calc(var(--column-width) + var(--bs-gutter-x));
}

.infinite-entity-row-header .rating {
    flex:  0 0 auto;
    width: calc((var(--column-width) * 1.5) + var(--bs-gutter-x));
}

@media(min-width: 767px) {
}

@media(min-width: 992px) {
    .infinite-entity-row-header .rating {
        width: calc((var(--column-width) * 2) + var(--bs-gutter-x));
    }
}

@media(min-width: 1200px) {
}